<body>
  <div class="container">
    <div class="navbar">
      <div class="logo">
        <img src="static/image/logo.png" width="125px">
      </div>
      <nav>
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">About US</a></li>
          <li><a href="">Our Products</a></li>
          <li><a href="">Tharu Community</a></li>
          <li><a href="">Login/Signup</a></li>
        </ul>
      </nav>
     <div class="row">
       <div class="col-2">   
         <h1>Make a Different way of shopping<p>Time to switch with the technology</p></h1>    
         <p>Switch your shopping habit with something extra ordinary</p>
         <a href="" class="btn">Explore</a>
       </div>
       <div class="col-2">
        <img src="static/image/home.png">
       </div>
     </div>
    </div> 
  </div>
</body>