<!doctype html>
{% load static %}
<html lang="en">
  <head>
  </script>
  <title>Hello, world!</title>
    <style>
        .body{
          background-color:aquamarine ;
        }
        .col-md-3
        {
        display: inline-block;
        margin-left:-4px;
        }
        .carousel-indicators .active {
        background-color: rgb(43, 56, 80);
          }
        .col-md-3 img{
        width:100px;
        height:80px;
        }
        body .carousel-indicator li{
        background-color: rgb(108, 68, 109);
        }
        body .carousel-indicators{
        bottom: 0;
        }
        body .carousel-control-prev-icon,
        body .carousel-control-next-icon{
        background-color: rgb(36, 82, 100);
        }
         body .no-padding{
           padding-left: 0;
         }
 
       
</style>
</head>
<body>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {%load static%}
    <link rel="stylesheet" href="{% static 'footer.css'%}">
    <link rel="stylesheet" href="{% static 'home.css'%}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-info">
      <a class="navbar-brand" href="#">Digital सखारी</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span><span class="sr-only">(current)</span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About US</a>
          </li>
            <li class="nav-item">
              <a class="nav-link" href="/viewproduct" tabindex="-1" aria-disabled="true">Our Products</a>
              </a>
            </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Blog</a>
          </li>
        </ul>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown button
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/login">Login</a>
            <a class="dropdown-item" href="/register">Signup</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>       
        <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button type="button" class="btn btn-success" type="submit">Search</button>
    </form>
  </div>
</nav>

<body>
<div class="container">
  <div class="row">
      <div class="col-md-6">
          <h3>Items in the cart</h3>
          <a href="{% url 'home:mycart' %}">Update Cart</a>
          <table class="table">
              <thead>
                  <tr>
                      <th>SN</th>
                      <th>Product</th>
                      <th>Rate</th>
                      <th>Quantity</th>
                      <th>Subtotal</th>
                  </tr>
              </thead>
              <tbody>
                {% for cp in cart.cartproduct_set.all %}
                  <tr>
                      <td>{{forloop.counter}}</td>
                      <td>{{cp.Product.title}}</td>
                      <td>{{cp.rate}}</td>
                      <td>{{cp.quantity}}</td>
                      <td>{{cp.subtotal}}</td>
                  </tr>
                  {% endfor %}
                  <tr>
                      <th colspan="4" class="text-right">Total</th>
                      <th>Rs. {{cart.total}}</th>
                  </tr>
              </tbody>
          </table>
      </div>
<div class="col-md-6">
          <h3>Checkout Form</h3>
          <form actio      n="" method="POST">
              {% csrf_token %}
              {{form.as_p}}
              <button class="btn btn-info">Place order</button>
          </form>
      </div>
  </div>
</div>

      <!-- Copyright -->
      <div class="text-center p-3">
        © 2022 Copyright
        <a class="text-dark" href="https://mdbootstrap.com/">digitalsakhari.com</a>
      </div>
    <!---Footer ends-->  
   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
      <script type="text/javascript" src="{% static 'cart.js' %}"></script>
    </body>
  </html>
  