<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Sakahari home</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'home.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<section id="header">
<div class="header">
  <div class="container">
    <div class="navbar">
      <div class="logo">
        <img src="static/image/logo.jpg" width="50px">
      </div>
      <div>
        <nav>
          <ul>
            <li><a href="" class="active">Home</a></li>
            <li><a href="">About US</a></li>
            <li><a href="">Our Products</a></li>
            <li><a href="">Login/Signup</a></li>
          </ul>
        </nav>
        </div>
        <div class="cart">
          <i class="fa fa-cart-arrow-down" style="font-size:36px"></i>
        </div>
      </div>
    </div>
    </div>
  </div>
  </section>

  <section id="slider">
    <div class="img-cointainer">
       <img src="static/image/slider-img/chitwan tharu.jpg">
    </div>
  </section>

<!--Our Features-->
<section id="features" class="ftr">
  <h1>Our Features</h1>
  <div class="feature">
  <div class="fe-box">
    <image src="static/image/features/online.png" width="80px">
    <h6>Online Order</h6>
  </div>
  <div class="fe-box">
    <image src="static/image/features/delivary.png" width="100px">
    <h6>Home Delivary</h6>
  </div>
  <div class="fe-box">
    <image src="static/image/features/time.jpg" width="100px">
    <h6>Save Time</h6>
  </div>
  <div class="fe-box">
    <image src="static/image/features/money.png" width="100px">
    <h6>Save Money</h6>
  </div>
  <div class="fe-box">
    <image src="static/image/features/customer.png" width="95px">
    <h6>24/7 Customer Service</h6>
  </div>
  <div class="fe-box">
    <image src="static/image/features/payment.jpg" width="70px">
    <h6>Online payment</h6>
  </div>
  </div>
</section>

<!--Feature products-->
<section id="feature" class="my-5 pb-5">
  <div class="contain text-center mt-5 py-5">
     <h3>Featured Products</h3>
     <hr>
     <p>Here you can check out the latest featured products</p>
  </div>
  <div class="row">
    <div class="product">
      <img src="static/image/features/Dhakiya-2.jpg">
    </div>

  </div>
</section>

<!--footer-->

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col-1">
        <h3>Contact US</h3>
       <ul><i class="fa fa-phone" style="font-size:24px"></i>+977 9807060729</ul>
       <ul><i class="fa fa-envelope" style="font-size:24px"></i>admin.digitalsakhari@gmail.com</ul>
       <ul><i class="fa fa-map-marker" style="font-size:24px"></i>Bidhiganga-02 Bauraha Morang</ul>
      </div>
      <div class="footer-col-2">
        <h3>Play Store</h3>
        <ul><img src="static/image/features/playstore.png" width="150px"></ul>
      </div>
      <div class="footer-col-3">
        <h3>We Accept</h3>
        <ul><img src="static/image/features/fonopay.png" width="60px">Fono-Pay</ul>
        <ul><img src="static/image/features/esewa-logo.jpg" width="60px">esewa</ul>
        <ul><img src="static/image/features/Khalti-logo.jpg" width="60px">Khalti</ul>
        <ul><img src="static/image/features/cash.jpg" width="60px">Cash on delivary</ul>
      </div>
      <div class="footer-col-4">
        <h3>Stay Connected</h3>
        <ul><i class="fa fa-facebook-f" style="font-size:35px;color:rgb(97, 20, 240)"></i></ul>
        <ul><i class="fa fa-instagram" style="font-size:35px;color:rgb(245, 126, 28)"></i></ul>
        <ul><i class="fa fa-youtube-play" style="font-size:35px;color:red"></i></ul>
      </div>
    </div>
  </div>
</div>
</div>
</body>
</html>
